:root {
  /* colors */
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: lightgray;

  /* headings */
  --h1: 34px;
  --h2: 26px;
  --h3: 22px;
  --h4: 18px;
  --h5: 14px;
  --h6: 10px;

  /* body */
  --font-family: 'Roboto';
  --line-height: 1.7rem;
  --normal-font: 400;
  --medium-font: 500;
  --bold-font: 700;
}

html,
body {
  font-family: var(--font-family);
  font-weight: var(--normal-font);
  font-size: 18px;
  line-height: var(--line-height);
  background-color: var(--primary-color);
}

h1,
h2,
h3 {
  font-weight: var(--bold-font);
}

h1 {
  font-size: var(--h1);
  line-height: 1.4;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: block;
  width: 750px;
  margin: 40px auto;
  padding: 30px;
  opacity: 1.2;
  background-color: var(--secondary-color);
}

.container h1 {
  margin: 10px;
  padding: 0 30px;
}

li {
  background-color: var(--tertiary-color);
  margin: 10px;
}

.button-class {
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: var(--medium-font);
  background-color: var(--tertiary-color);
  border: none;
  padding: 20px 32px;
  margin: 4px 2px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}
